# Serve the app under a path (e.g. /disasters) if defined, defaults to root.
NEXT_PUBLIC_BASE_PATH=
# The URL to be used on the header link to the Data Visualization tool.
# Examples: "/data-visualization" or "https://disasters.openveda.cloud/disasters/data-visualization/"
NEXT_DATA_VISUALIZATION_URL=
